$primary-color: #272727;
$text-color: #fff;
$font-weignts: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
body {
  background-color: $primary-color;
  color: $text-color;
}
.main {
  width: 80%;
  margin: 0 auto;
  #{&}__paragraph {
    font-weight: map-get($font-weignts, bold);
    &:hover {
      color: pink;
    }
  }
}
